{% for n, val in formFields %}
<input type="hidden" name="{{n}}" value="{{val}}"/>
{% endfor %}
{#
<input type="hidden" name="MerchantNumber" value="{{neweb.config.MerchantNumber}}"/>
<input type="hidden" name="OrderNumber"    value="{{neweb.order_number}}"/>
<input type="hidden" name="Amount"         value="{{neweb.order.total_amount}}"/>
<input type="hidden" name="OrgOrderNumber" value="{{neweb.order.id}}"/>
<input type="hidden" name="ApproveFlag"    value="{{neweb.config.ApproveFlag|default('1')}}"/>{# use 1 as default #}
<input type="hidden" name="DepositFlag"    value="{{neweb.config.DepositFlag|default('1')}}"/>{# use 1 as default #}
<input type="hidden" name="Englishmode"    value="{{neweb.english}}"/>
<input type="hidden" name="iphonepage"     value="{{neweb.mobile}}"/>
<input type="hidden" name="OrderURL"       value="{{neweb.config.OrderURL}}"/>
<input type="hidden" name="ReturnURL"      value="{{neweb.config.ReturnURL}}"/>
<input type="hidden" name="checksum"       value="{{neweb.checksum}}"/>
<input type="hidden" name="op"             value="AcceptPayment"/>
#}
