{% extends '@CRUD/edit.html' %}
{% block section_body %}

{% set bundle = Kernel.bundle('CartBundle') %}

<form class="ajax-action" enctype="multipart/form-data" method="post">
    {{ CRUD.Action.renderSignatureWidget|raw}}
    {{ CRUD.Action.renderCSRFTokenWidget|raw}}
    {% if CRUD.Record.id %}
        {{ forms.hidden('id', CRUD.Record.id) }}
    {% endif %}

    <div class="row">
        <div class="col-md-5">
            <div class="v-field">
                <div class="label">問題主旨</div>
                <div class="input">
                    {{ CRUD.Record.question_title }}
                </div>
            </div>

            <div class="v-field">
                <div class="label">
                    發問於 {{ CRUD.Record.question_time |date('F jS \\a\\t g:ia')}}
                </div>
                <div class="input">
                    <blockquote>{{ CRUD.Record.question }}</blockquote>
                </div>
            </div>
            <div>
                <div class="label">
                    回答於 {{ CRUD.Record.answer_time |date('F jS \\a\\t g:ia')}}
                </div>
                <div class="input">
                    {{ CRUD.Action.renderWidget('answer',null, { style: "width: 100%;" })|raw}}
                </div>
            </div>
        </div>
        <div class="col-md-5">

            <div class="v-field">
                <div class="label">訂單編號</div>
                <div class="input">
                    {% if CRUD.Record.order_id %}
                    <a target="_blank" href="{{ CRUD.Record.order.getOrderViewUrl() }}">{{ CRUD.Record.order.sn }}</a>
                    {% endif %}

                    (<a target="_blank" href="/bs/order/edit?id={{ CRUD.Record.order.id }}">編輯</a>)
                </div>
            </div>

            <div class="v-field">
                <div class="label">購買項目</div>
                <div class="input">
                    {% if CRUD.Record.order_id %}
                        {{ CRUD.Record.order_item.product.name }}-{{ CRUD.Record.order_item.type.name }}
                        X
                        {{ CRUD.Record.order_item.quantity }}
                    {% endif %}
                </div>
            </div>

            <div class="v-field">
                <div class="label">購買會員</div>
                <div class="input">
                    {% if CRUD.Record.member_id %}
                        {{ CRUD.Record.member.name }}
                        {{ CRUD.Record.member.display('gender') }}

                        ({{ CRUD.Record.member.email }})
                    {% endif %}
                </div>
            </div>
            {{ CRUD.Action.renderField('remark',{ style: "width: 100%;" })|raw}}
        </div>
    </div>

    <div class="collapsible collapse-section" {# data-collapse="persist" #}>
        <h3>詳細資料</h3>
        <div>
            {% include '@CRUD/metadata.html' %}
            <div class="clear"> </div>
        </div>
    </div>
</form>

{% endblock %}
