{% extends '@CRUD/edit.html' %}
{% block section_body %}

<form class="ajax-action" enctype="multipart/form-data" method="post">
    {% set bundle = Kernel.bundle('CartBundle') %}

    {{ CRUD.Action.renderSignatureWidget|raw}}
    {% if CRUD.Record.id %}
        {{ forms.hidden('id', CRUD.Record.id) }}
    {% endif %}

    {% for prefix, label in {
        'buyer_': '訂購人',
        'shipping_': '收貨人'
    } %}
    <div class="row">
        <div class="col-md-11">
            <fieldset>
                <legend>{{label}}</legend>

                <div class="col-field">
                {{ CRUD.Action.renderField(prefix ~ 'name')|raw }}
                </div>
                <div class="col-field">
                {{ CRUD.Action.renderField(prefix ~ 'gender')|raw }}
                </div>

                <div class="col-field">
                {{ CRUD.Action.renderField(prefix ~ 'cellphone')|raw }}
                </div>

                <div class="col-field">
                    <div class="v-field">
                        <div class="label">
                            聯絡電話
                        </div>
                        <div class="input">
                            {{ CRUD.Action.renderWidget( prefix ~ 'phone_area')|raw }}
                            - {{ CRUD.Action.renderWidget( prefix ~ 'phone')|raw }}
                            # {{ CRUD.Action.renderWidget( prefix ~ 'phone_ext')|raw }}
                        </div>
                    </div>
                </div>
                <div class="col-field">
                    {{ CRUD.Action.renderField(prefix ~ 'address')|raw }}
                </div>
                <div class="clearfix"> </div>
            </fieldset>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-11">
            <fieldset>
                <legend>發票</legend>
                <div class="clearfix">
                    <div class="col-field">
                        {{ CRUD.Action.renderField('invoice_type')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('utc_name')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('utc_address')|raw }}
                    </div>

                    <div class="col-field utc-3">
                        {{ CRUD.Action.renderField('utc')|raw }}
                    </div>
                    <div class="col-field utc-3">
                        {{ CRUD.Action.renderField('utc_title')|raw }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    {% if bundle.config('ChooseDeliveryType') %}

    <div class="row">
        <div class="col-md-10">
            <fieldset>
                <legend>取貨方式</legend>
                <div class="clearfix">
                    <div class="col-field">
                        {{ CRUD.Action.renderField('delivery_type')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('delivery_store')|raw }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    {% endif %}

    <div class="row">

        <div class="col-md-4">
            <fieldset>
                <legend>訂單</legend>
                <div class="clearfix">
                    <div class="col-field">
                        {{ CRUD.Action.renderField('sn')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('token')|raw }}

                    </div>
                    <div class="col-field">
                        {#
                        {{ CRUD.Action.renderField('member_id')|raw }}
                        #}
                        <code>{{ CRUD.Record.member.name }}
                        &lt;{{ CRUD.Record.member.email }}&gt;</code>
                    </div>
                </div>

                {{ CRUD.Action.renderField('remark')|raw }}

            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>付款</legend>
                <div class="clearfix">
                    <div class="col-field">
                        {{ CRUD.Action.renderField('payment_type')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('payment_status')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('payment_status_last_update')|raw }}
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-field">
                        {{ CRUD.Action.renderField('total_amount')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('paid_amount')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('shipping_cost')|raw }}
                    </div>
                    <div class="col-field">
                        {{ CRUD.Action.renderField('discount_amount')|raw }}
                    </div>
                </div>
            </fieldset>
        </div>




    </div>
    <div class="clearfix"> </div>

    {% set orderItems = CRUD.Record.order_items %}
    {% set txns = CRUD.Record.transactions %}

    <h3>訂單明細</h3>

    <div class="collapsible collapse-section" {# data-collapse="persist" #}>
        <h3 class="open">購買項目</h3>
        <div>
            {#
            {% set subview = CRUD.Action.asView('ActionKit\\View\\StackView',{ "no_form": 1 }) %}
            {{ subview.buildRelationalActionViewForExistingRecords('order_items') |raw }}
            #}
            <table width="100%" cellpadding="3" class="order-item-table">
            <thead>
                <th>&nbsp;</th>
                <th>產品</th>
                <th>類型</th>
                <th>單價</th>
                <th>數量</th>
                <th>小計</th>
                <th>貨運狀態</th>
                <th>貨運狀態更新時間</th>
                <th>貨運公司</th>
                <th>貨運編號</th>
                {% if bundle.config('ShipmentTracking') %}
                <th> </th>
                {% endif %}
            </thead>
            <tbody>
            {% for orderItem in orderItems %}
            {% set subRecordAction = orderItem.asUpdateAction() %}
            {% set formIndex = subRecordAction.setParamNamesWithIndex('order_items') %}
            <tr>
                <td>
                    <img src="/{{orderItem.product.thumb}}" height="20"/>
                </td>
                <td class="product-name">
                    {{ subRecordAction.renderSignatureWidget()| raw }}
                    {{ subRecordAction.renderWidget('id')| raw }}
                    {# {{orderItem.display('product_id')|raw}} #}
                    {# {{ subRecordAction.renderWidget('product_id')| raw }} #}
                    {{orderItem.product.name}}
                </td>
                <td class="product-type">
                    {# {{orderItem.display('type_id')|raw}} #}
                    {# {{subRecordAction.renderWidget('type_id')|raw}} #}
                    {{orderItem.type.name}}
                </td>
                <td class="price money">NT$ {{orderItem.getUnitPrice()}}</td>
                <td class="quantity">
                    {{orderItem.display('quantity')|raw}}
                    {#
                    {{subRecordAction.renderWidget('quantity')|raw}}
                    #}
                </td>
                <td class="price money">NT$ {{orderItem.calculateAmount()}}</td>
                <td>{{subRecordAction.renderWidget('shipping_status')|raw}}</td>

                <td>{{orderItem.shipping_status_last_update|date('Y/m/d A H:i') }}</td>

                <td>{{subRecordAction.renderWidget('shipping_company_id')|raw}}</td>
                <td>{{subRecordAction.renderWidget('shipping_id')|raw}}</td>
                {% if bundle.config('ShipmentTracking') and orderItem.shipping_id %}
                <td>
                    {% set trackingUrl = orderItem.getTrackingUrl() %}
                    {% if trackingUrl %}
                        <a target="_blank" href="{{trackingUrl}}">追蹤</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>



        {% if txns.size() == 0 %}
            <h3 class="close">目前無交易記錄</h3>
            <div> </div>
        {% else %}
        <h3 class="open">交易記錄</h3>
        <div>
            <table width="100%" cellpadding="3" class="order-transaction-table">
            <thead>
                <th>編號</th>
                <th>類型</th>
                <th>訊息</th>
                <th>原因</th>
                <th>金額</th>
                <th>付款日期</th>
                <th>交易資料</th>
            </thead>
            <tbody>
            {% for txn in txns %}
            <tr>
                <td>{{txn.id}}</td>
                <td>{{txn.display('type')}}</td>
                <td>
                    <span class="{% if txn.result %}success{% else %}fail{% endif %}">{{txn.message}}</span>
                </td>
                <td>{{txn.reason}}</td>
                <td>{{txn.amount}}</td>
                <td>{{txn.paid_date|date('Y/m/d A h:s')}}</td>
                <td><pre>{{txn.data}}</pre></td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    {% include '@CRUD/controll.html' %}
</form>

<script>
$(function() {
    if ( $('#{{editRegionId}} select[name=invoice_type]').val()  == 3 ) {
        $('#{{editRegionId}} .utc-3').show();
    } else {
        $('#{{editRegionId}} .utc-3').hide();
    }
    $('#{{editRegionId}} select[name=invoice_type]').change(function() {
        var val = $(this).val();
        if (val == 3) {
            $('#{{editRegionId}} .utc-3').show();
        } else if ( val == 2 ) {
            $('#{{editRegionId}} .utc-3').hide();
        }
    });
});
</script>

{% endblock %}
