<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>訂單明細 {{order.sn}}</title>
<style>
body {
    font-family: Verdana;
    font-size: 14px;
}
table {
    border: 1px solid #606060;
}
</style>
</head>
<body>
    <h1>{{ Kernel.getApplicationName() }}</h1>
    <h3>訂單明細 {{order.sn}}</h3>
    {% include '@CartBundle/order/_table.html' %}
</body>
</html>
